/* COLORS
 * White: #FFFAFF
 * Black: #050401
 * Red: #FC5130
 * Lt. Blue: #30BCED
 * Dk. Blue: #2C2C47
*/

:root{
  --bgcolor: #FFFAFF;
  --txtcolor: #050401;
  --flavorred: #FC5130;
  --flavordkblu: #2C2C47;
  --flavorltblu: #30BCED;
}

body{
  color: var(--txtcolor);
  background-color: var(--bgcolor);
}

nav{
  background-color: var(--flavorred);
}

.card{
  background-color: var(--flavorltblu);
}

.card-title{
    text-align: center;
}

#button{
  color: var(--txtcolor);
  background-color: var(--flavordkblu);
}
