:root {
  --animation-time: 2s;
}

body{
  background-color: #2D3248;
}

@keyframes wobble {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(5px, 0px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes fadein {
    from{ opacity: 0;
    }
    to{ opacity: 1;
    }
}

img{
  position: absolute;
  display: block;
  margin-left: 30%;
  width: 40%;
}

#img-holder{
  margin: 0 auto;
}

#border{
opacity: 0;
z-index: 40;
animation: fadein 2s;
animation-delay: 1s;
animation-fill-mode: forwards;
}

#sat{
opacity: 0;
z-index: 30;
animation: wobble 5s infinite, fadein 2s;
animation-delay: 4s;
animation-fill-mode: forwards;
}

#earth{
opacity: 0;
z-index: 20;
animation: wobble 5s infinite, fadein 2s;
animation-delay: 3s;
animation-fill-mode: forwards;
}

#space{
opacity: 0;
z-index: 10;
animation: fadein 2s;
animation-fill-mode: forwards;
}
